<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET ALL ORDERS</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>
<h1 class="text-center">ALL ORDERS</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center" scope="col">CLIENT</th>
                    <th class="text-center" scope="col">CLIENT PHONE</th>
                    <th class="text-center" scope="col">CLIENT CAR</th>
                    <th class="text-center" scope="col">NUMBER OF SERVICES</th>
                    <th class="text-center" scope="col">PAYED</th>
                    <th class="text-center" scope="col">DONE</th>
                    <th sec:authorize="hasAnyAuthority('ADMIN','MODERATOR','WORKER')"
                        class="text-center" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${orders.empty}">
                    <th class="scope">No orders to show</th>
                </tr>

                <tr class="text-center" th:each="order : ${orders}">
                    <td class="row">
                        <span th:if="${order.client}"
                              th:text="${order.client.name} + ' ' + ${order.client.surname}"></span>
                    </td>
                    <td>
                        <span th:if="${order.client}"
                              th:text="${order.client.contactNumber}"></span>
                    </td>
                    <td>
                        <span th:if="${order.client.car}"
                              th:text="${order.client.car.mark} + ' ' + ${order.client.car.model} + ' ' + ${order.client.car.year}"></span>
                    </td>
                    <td>
                        <span th:if="${order.servicesProvidedByCo}"
                              th:text="${order.servicesProvidedByCo.size()}"></span>
                    </td>
                    <td>
                        <span th:if="${order.getisPayed() != null}"
                              th:text="${order.getisPayed()}"></span>
                    </td>
                    <td>
                        <span th:if="${order.getisDone() != null}"
                              th:text="${order.getisDone()}"></span>
                    </td>
                    <td>
                            <div class="row">
                                <div class="col">
                                    <form sec:authorize="hasAnyAuthority('ADMIN','WORKER')"
                                          th:method="get" th:action="@{|getspecificorder/worker/${order.Id}|}">
                                        <input type="submit" value="Set Done" class="btn btn-info" />
                                    </form>
                                </div>
                                <div class="col">
                                    <form sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')"
                                          th:method="get" th:action="@{|getspecificorder/client/${order.Id}|}">
                                        <input type="submit" value="Set Payed" class="btn btn-success" />
                                    </form>
                                </div>
                            </div>

                            <div class="row" style="margin-top:12px">
                                <div class="col">
                                    <form sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')"
                                          th:method="get" th:action="@{|updateorder/${order.Id}|}">
                                        <input type="submit" value="Update" class="btn btn-warning" />
                                    </form>
                                </div>
                                <div class="col">
                                    <form sec:authorize="hasAnyAuthority('ADMIN')"
                                          th:method="delete" th:action="@{|deleteorder/${order.Id}|}">
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>