<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPECIFIC ORDER FOR WORKERS</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>
<h1 class="text-center">SPECIFIC ORDER</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h3 class="text-center" th:if="${order.Id}"
                th:text="OrderId+' '+${order.Id}"></h3>
            <br>
            <h3 class="text-center" th:text="'Done: '+ ${order.getisDone()}"></h3>
            <h3 class="text-center" th:text="'Paid: '+ ${order.getisPayed()}"></h3>
            <h3 class="text-center"th:if="${order.client}"
                th:text="${order.client.name} + ' ' + ${order.client.surname} + ' ' + ${order.client.contactNumber}"></h3>
            <h3 class="text-center" th:if="${order.client.car}"
                th:text="${order.client.car.mark} + ' ' + ${order.client.car.model} + ' ' + ${order.client.car.year}"></h3>
            <br>
            <div th:if="${order.servicesProvidedByCo}" th:each="service : ${order.servicesProvidedByCo}">
                <div>
                    <h4 th:text="${service.name}"></h4>
                    <h4 th:if="${who == 'worker'}" th:text="${service.description}"></h4>
                    <h4 th:if="${who == 'worker'}"th:text="${service.additionalInfo}"></h4>
                    <h4 th:if="${who == 'client'}"th:text="${service.nettoPrice}"></h4>
                </div>
                <br>
            </div>
            <h1 class="text-right" th:if="${order.servicesProvidedByCo} and ${who == 'client'}"
                th:text="Netto + ' ' + ${order.countNettoValueOfServices()}"></h1>
            <h1 class="text-right" th:if="${order.servicesProvidedByCo} and ${who == 'client'}"
                th:text="Brutto + ' ' + ${order.countBruttoValueOfServices()}"></h1>
            <h1 class="text-right" th:if="${order.servicesProvidedByCo} and ${who == 'client'}"
                th:text="Tax + ' ' + ${order.countSumOfTax()}"></h1>
        </div>
        <div class="col-sm-4 text-center">
            <div th:if="${who == 'worker'}">
                <form th:method="put" th:action="@{/api/order/setboolean/done/} + ${order.Id}">
                    <input type="submit" value="Set as done" class="btn btn-warning" />
                </form>
            </div>
            <div th:if="${who == 'client'}">
                <form th:method="put" th:action="@{/api/order/setboolean/payed/} + ${order.Id}">
                    <input type="submit" value="Set as paid" class="btn btn-warning" />
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>