<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Worker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>

</body>

<div class="container">
    <div class="row-sm-8">
        <div class="col">
            <form th:action="@{/api/worker/addworker}" th:object="${worker}" method="post">
                <div class="form-group">
                    <label >Name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter name" th:field="*{name}">
                    <span class="text-danger" th:errors="*{name}"></span>
                </div>

                <div class="form-group ">
                    <label>Surname</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter surname" th:field="*{surname}">
                    <span class="text-danger" th:errors="*{surname}"></span>
                </div>

                <div class="form-group ">
                    <label>City</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter City" th:field="*{City}">
                    <span class="text-danger" th:errors="*{City}"></span>
                </div>

                <div class="form-group ">
                    <label>Street</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Street" th:field="*{Street}">
                    <span class="text-danger" th:errors="*{Street}"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit Worker</button>
            </form>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>