<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Worker</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>

<div class="container">
    <div class="row-sm-8">
        <div class="col">
            <form th:action="@{/api/worker/addworker}" th:object="${worker}" method="post">
                <div class="form-group">
                    <label >Name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter name" th:field="*{name}">
                    <span class="text-danger" th:errors="*{name}"></span>
                </div>

                <div class="form-group ">
                    <label>Surname</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter surname" th:field="*{surname}">
                    <span class="text-danger" th:errors="*{surname}"></span>
                </div>

                <div class="form-group ">
                    <label>City</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter City" th:field="*{City}">
                    <span class="text-danger" th:errors="*{City}"></span>
                </div>

                <div class="form-group ">
                    <label>Street</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Street" th:field="*{Street}">
                    <span class="text-danger" th:errors="*{Street}"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit Worker</button>
            </form>

        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>