<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Assign order to worker</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>

<div class="container">
    <div class="row-sm-8">
        <div class="col">
            <form th:action="@{/api/worker/assignwork}" method="post" th:object="${viewmodel}">
                <label for="exampleFormControlSelect1">Workers</label>
                <div class="form-group">
                    <div class="dropdown">
                        <div th:if="${workers != null}">
                            <select class="form-control" id="exampleFormControlSelect1" th:field="*{idWorker}" name="worker">
                                <option th:each="worker : ${workers}" th:value="${worker.id}"
                                        th:text="${worker.name}+' '+${worker.surname}+' orders to do: '+${worker.ordersToDo.size()}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="exampleFormControlSelect2">Orders</label>
                    <div class="dropdown">
                        <div th:if="${orders != null}">
                            <select class="form-control" id="exampleFormControlSelect2" th:field="*{idOrder}" name="car">
                                <option th:each="order : ${orders}" th:value="${order.Id}"
                                        th:text="${order.client.name}+' '+${order.client.surname}+' '+${order.client.contactNumber}
                                        +' '+${order.client.car.mark} +' '+${order.client.car.model} + ' ' +${order.client.car.year}
                                        +' quantity of services '+${order.servicesProvidedByCo.size()}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Assign work</button>
            </form>
            <div class="text-danger text-center" th:if="${notValidated}" th:text="${notValidated}"></div>
        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>