<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET ALL WORKERS</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>
<h1 class="text-center">ALL WORKERS</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" scope="col">ID WORKER</th>
                    <th class="text-center" scope="col">NAME</th>
                    <th class="text-center" scope="col">SURNAME</th>
                    <th class="text-center" scope="col">CITY</th>
                    <th class="text-center" scope="col">STREET</th>
                    <th class="text-center" scope="col">WITH US SINCE</th>
                    <th class="text-center" scope="col">ORDERS TO DO</th>
                    <th sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')"
                        class="text-center" scope="col">ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${workers.empty}">
                    <th class="scope">No workers to show</th>
                </tr>

                <tr class="text-center" th:each="worker : ${workers}">
                    <td class="row">
                        <span th:text="${worker.getId()}"></span>
                    </td>
                    <td>
                        <span th:text="${worker.getName()}"></span>
                    </td>
                    <td>
                        <span th:text="${worker.getSurname()}"></span>
                    </td>
                    <td>
                        <span  th:text="${worker.getCity()}"></span>
                    </td>
                    <td>
                        <span  th:text="${worker.getStreet()}"></span>
                    </td>
                    <td>
                        <span  th:text="${#calendars.format(worker.getUtilCalendar(),'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        <span th:if="${worker.ordersToDo != null && worker.countOrdersNotDone() > 0}" th:text="${worker.countOrders()}"></span>
                        <span th:if="${worker.ordersToDo == null || worker.countOrdersNotDone() == 0}">No tasks</span>

                        <form th:if="${worker.ordersToDo != null && worker.countOrdersNotDone() > 0}"
                              th:method="get" th:action="@{|checkorders/${worker.getId()}|}">
                            <input type="submit" value="Check orders" class="btn btn-warning" />
                        </form>
                    </td>
                    <td>
                        <form sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')"
                              th:method="get" th:action="@{|updateworker/${worker.getId()}|}">
                            <input type="submit" value="Update" class="btn btn-warning" />
                        </form>

                        <form sec:authorize="hasAnyAuthority('ADMIN')"
                              th:method="delete" th:action="@{|deleteworker/${worker.getId()}|}">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>