<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE WORKER</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>
<h1 class="text-center">Update worker</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <form th:action="@{/api/worker/updateworker/} + ${workerToUpdate.getId()}" th:object="${workerToUpdate}" th:method="put">
                <div class="form-group">
                    <label >Name</label>
                    <input type="text" class="form-control" a placeholder="Enter name" th:field="*{name}">
                    <span class="text-danger" th:errors="*{name}"></span>
                </div>
                <div class="form-group">
                    <label >Model</label>
                    <input type="text" class="form-control" a placeholder="Enter surname" th:field="*{surname}">
                    <span class="text-danger" th:errors="*{surname}"></span>
                </div>
                <div class="form-group">
                    <label >City</label>
                    <input type="text" class="form-control"  placeholder="Enter City" th:field="*{City}">
                    <span class="text-danger" th:errors="*{City}"></span>
                </div>
                <div class="form-group">
                    <label >Street</label>
                    <input type="text" class="form-control"  placeholder="Enter Street" th:field="*{Street}">
                    <span class="text-danger" th:errors="*{Street}"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" th:field="${workerToUpdate.utilCalendar}">
                </div>
                <button type="submit" class="btn btn-primary">Update Worker</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>