<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Assign car to client</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>

<div class="container">
    <div class="row-sm-8">
        <div class="col">
            <form th:action="@{/api/client/assigncartoclient}" method="post" th:object="${viewmodel}">
                <label for="exampleFormControlSelect1">Clients</label>
                <div class="form-group">
                    <div class="dropdown">
                        <div th:if="${clients != null}">
                            <select class="form-control" id="exampleFormControlSelect1" th:field="*{idClient}" name="client">
                                <option th:each="client : ${clients}" th:value="${client.Id}"
                                        th:text="${client.getName()}+' '+${client.surname}+' '+${client.contactNumber}"></option>
                            </select>
                            <span class="text-danger" th:errors="*{idClient}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="exampleFormControlSelect2">Cars</label>
                    <div class="dropdown">
                        <div th:if="${cars != null}">
                            <select class="form-control" id="exampleFormControlSelect2" th:field="*{idCar}" name="car">
                                <option th:each="car : ${cars}" th:value="${car.Id}"
                                        th:text="${car.mark}+' '+${car.model}+' '+${car.year}"></option>
                            </select>
                            <span class="text-danger" th:errors="*{idCar}"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit Changes</button>
            </form>
            <div class="text-danger text-center" th:if="${notValidated}" th:text="${notValidated}"></div>
        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>