<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET ALL CLIENTS</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>

<h1 class="text-center">All Clients</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center" scope="col">NAME</th>
                    <th class="text-center" scope="col">SURNAME</th>
                    <th class="text-center" scope="col">CONTACT NUMBER</th>
                    <th class="text-center" scope="col">CAR</th>
                    <th class="text-center" scope="col">CAR YEAR</th>
                    <th class="text-center" scope="col" style="width: 30%">ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${clients.empty}">
                    <th class="scope">No clients to show</th>
                </tr>

                <tr class="text-center" th:each="client : ${clients}">
                    <td>
                        <span th:text="${client.getName()}"></span>
                    </td>
                    <td>
                        <span th:text="${client.getSurname()}"></span>
                    </td>
                    <td>
                        <span  th:text="${client.getContactNumber()}"></span>
                    </td>
                    <td>
                        <span th:if="${client.getCar()}" th:text="${client.car.mark + ' ' + client.car.model}"></span>
                        <span th:if="${client.getCar() == null}">No car</span>
                    </td>
                    <td>
                        <span th:if="${client.getCar()}" th:text="${client.car.year}"></span>
                        <span th:if="${client.getCar() == null}">No car</span>
                    </td>
                    <td>
                        <div class="container">
                            <div class="row justify-content-around">
                                <div class="col-sm-md-12-lg-6-xl-6">
                                    <form th:method="get" th:action="@{/api/client/updateclient/} + ${client.Id}">
                                        <input type="submit" value="Edit Client" class="btn btn-warning" />
                                    </form>
                                </div>
                                <div class="col-sm-md-12-lg-6-xl-6 mt-2 mt-sm-2 mt-md-2 mt-lg-0 mt-xl-0">
                                    <form th:method="delete" th:action="@{/api/client/deleteclient/} + ${client.Id}">
                                        <input type="submit" value="Delete Client" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>

                            <div class="row justify-content-around" style="margin-top: 7px;">
                                <div class="col-sm-md-12-lg-5-xl-5 mr-1 mr-sm-1 mr-md-1 mr-lg-0 mr-xl-0">
                                    <span th:if="${client.getCar() != null}">
                                        <form th:method="get" th:action="@{/api/car/updatecar/} + ${client.car.Id}">
                                            <input type="submit" value="Edit Car" class="btn btn-warning"/>
                                        </form>
                                    </span>
                                    <span th:if="${client.getCar() == null}">
                                        <span>-</span>
                                    </span>
                                </div>
                                <div class="col-sm-md-12-lg-6-xl-6 mt-2 mt-sm-2 mt-md-2 mt-lg-0 mt-xl-0">
                                    <span th:if="${client.getCar() != null}">
                                        <form th:method="delete" th:action="@{/api/car/deletecar/} + ${client.car.Id}">
                                            <input type="submit" value="Delete Car" class="btn btn-danger" />
                                        </form>
                                    </span>
                                    <span th:if="${client.getCar() == null}">
                                        <span>-</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>