<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Client</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>
<body>
<div th:insert="Sharing/Navbar"></div>
    <h1 class="text-center">Update client</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <form th:action="@{/api/client/updateclient/} + ${clientToUpdate.Id}" th:object="${clientToUpdate}" th:method="put">
                    <div class="form-group">
                        <label >Name</label>
                        <input type="text" class="form-control" a placeholder="Name" th:field="*{name}">
                        <span class="text-danger" th:errors="*{name}"></span>
                    </div>
                    <div class="form-group">
                        <label >Surname</label>
                        <input type="text" class="form-control" a placeholder="Surname" th:field="*{surname}">
                        <span class="text-danger" th:errors="*{surname}"></span>
                    </div>
                    <div class="form-group">
                        <label >Contact Number</label>
                        <input type="text" class="form-control"  placeholder="Contact Number" th:field="*{contactNumber}">
                        <span class="text-danger" th:errors="*{contactNumber}"></span>
                    </div>
                        <input id="id" th:field="*{car}" type="hidden"/>
                    <button type="submit" class="btn btn-primary">Update Client</button>
                </form>
            </div>
        </div>
    </div>
</body>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</html>