<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET ALL SERVICES</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>
<h1 class="text-center">ALL SERVICES IN Co.</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" scope="col">ID Service</th>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Netto Price</th>
                    <th class="text-center" scope="col">Additional Info</th>
                    <th sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')"
                        class="text-center" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${services.empty}">
                    <th class="scope">No services to show</th>
                </tr>

                <tr class="text-center" th:each="service : ${services}">
                    <td class="row">
                        <span th:if="${service.getId()}" th:text="${service.getId()}"></span>
                    </td>
                    <td>
                        <span th:if="${service.getName()}" th:text="${service.getName()}"></span>
                    </td>
                    <td>
                        <span th:if="${service.getDescription()}" th:text="${service.getDescription()}"></span>
                    </td>
                    <td>
                        <span th:if="${service.getNettoPrice()}" th:text="${service.getNettoPrice()}"></span>
                    </td>
                    <td>
                        <span th:if="${service.getAdditionalInfo()}" th:text="${service.getAdditionalInfo()}"></span>
                        <span th:if="${service.getAdditionalInfo() == null}">No info</span>
                    </td>
                    <td>
                        <form sec:authorize="hasAnyAuthority('ADMIN')"
                              th:method="delete" th:action="@{|deleteservice/${service.getId()}|}">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                        <form sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')"
                              th:method="get" th:action="@{|updateservice/${service.getId()}|}">
                            <input type="submit" value="Update" class="btn btn-warning" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>