<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home D&D</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>
<body>
<div th:insert="Sharing/Navbar"></div>
<div th:replace="Sharing/sharingBootStrapBody"></div>

<div sec:authorize="isAuthenticated()">
    Willkommen <span sec:authentication="name"></span>
    <span sec:authentication="principal.authorities"></span>

    <form th:action="@{/logout}" method="post">
        <input class="btn btn-primary" type="submit" value =" Logout">
    </form>
</div>

</body>
</html>