<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home D&D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="Sharing/sharingBootStrap"></div>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
</head>
<body class="main">
<div th:insert="Sharing/Navbar"></div>

<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source th:src="@{/videos/detailing.mp4}" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h2 class="display-3" id="companySign">D&D Company</h2>
                <h4 class="lead mb-0" id="underCompanySign">Perfection matters</h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
            <div class="row topmargin-sm bottommargin-sm clearfix">

                <div class="col-md-6 order-md-1 p-md-5 mt-5 my-lg-auto">
                    <h1 class="text-center">About us</h1>
                    <p class="p-3 text-justify lead">JR DETAILING has been responsible for detailing over 1,000 prestige
                        vehicles across East Anglia in the last 7 years. Together with a solid track record in the detailing
                        industry, JR Detailing uses only the best paintwork finish products, such as CERAMIC PRO, for which we're
                        the only authorised detailer in the Norfolk area so you can be assured your vehicle is in expert hands.</p>
                </div>
                <div class="col-md-6 order-md-2 p-0">
                    <div class="fill">
                        <img th:src="@{/photos/foam.jpg}"/>
                    </div>
                </div>


                <div class="col-md-6 order-md-4 p-md-5 mt-5 my-lg-auto">
                    <h1 class="text-center">Ceramic Coat</h1>
                    <p class="p-3 text-justify lead">A ceramic coating (which it is commonly referred to) is a
                        liquid chemical which bonds to your vehicle’s paintwork forming a strong, durable protective
                        layer which is stronger than traditional waxes and sealants. A ceramic coating application as part of a paint correction detail
                        or new car protection detail will repel water, dirt, road salt and be resistant to harsh detergents and chemicals.</p>
                </div>
                <div class="col-md-6 order-md-3 p-0">
                    <div class="fill">
                        <img th:src="@{/photos/ceramic.jpeg}"/>
                    </div>
                </div>

                <div class="col-md-6 order-md-5 p-md-5 mt-5 my-lg-auto">
                    <h1 class="text-center">New Car</h1>
                    <p class="p-3 text-justify lead">The perfect detailing package for your new car. Includes paint enhancement or correction
                        (depending on condition) and your choice of wax, sealant or ceramic coating to protect your “better than new” paintwork.
                        Price: From £450 (depending on vehicle size, paint enhancement or correction requirements & protection package chosen)
                        Timescale: 1–4 days</p>
                </div>
                <div class="col-md-6 order-md-6 p-0">
                    <div class="fill">
                        <img th:src="@{/photos/dealer.jpg}"/>
                    </div>
                </div>

                <div class="col-md-6 order-md-8 p-md-5 mt-5 my-lg-auto">
                    <h1 class="text-center">Wash & Maintenance Detail</h1>
                    <p class="p-3 text-justify lead">This starts with a thorough wash and decontamination of your vehicle.
                        First the wheels are cleaned with an acid free wheel cleaner and iron deposit remover dissolving brake dust,
                        road grime and dirt. Soft wheel woolie brushes are used to agitate the first from the inner barrels and the face
                        of the rim. </p>
                </div>
                <div class="col-md-6 order-md-7 p-0">
                    <div class="fill">
                        <img th:src="@{/photos/clean.jpg}"/>
                    </div>
                </div>

</div>
</div>


<div th:replace="Sharing/sharingBootStrapBody"></div>

</body>
</html>