.main::-webkit-scrollbar {
  display: none;
}

header {
  position: relative;
  background-color: black;
  height: 95vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 180%;
  min-height: 180%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  filter: blur(4px);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#companySign{
    font-size: 120px;
    font-family: 'Pinyon Script', cursive;
 }

#underCompanySign{
    font-size: 40px;
    color: #999999;
}

@media (pointer: coarse) and (hover: none) {
  #companySign{
   font-size: 60px;
   }

  #underCompanySign{
   font-size: 30px;
  }

 header {
    height: 95vh;
  }
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

h1, h4{
  text-decoration: underline;
  text-decoration-color: #FFDF6C;
  }
