<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
    <div th:replace="Sharing/sharingBootStrap"></div>
</head>

<body>
<div th:insert="Sharing/Navbar"></div>

<div class="container">
    <div class="row-sm-8">
        <div class="col">
            <form th:action="@{/api/car/addcar}" th:object="${car}" method="post">
                <div class="form-group">
                    <label >Mark</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter mark of the car" th:field="*{mark}">
                    <span class="text-danger" th:errors="*{mark}"></span>
                </div>

                <div class="form-group ">
                    <label>Model</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter model of the car" th:field="*{model}">
                    <span class="text-danger" th:errors="*{model}"></span>
                </div>

                <div class="form-group">
                    <label >year(int)</label>
                    <input type="number" class="form-control"  placeholder="year of the car" th:field="*{year}">
                    <span class="text-danger" th:errors="*{year}"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit Car</button>
            </form>

        </div>
    </div>
</div>
<div th:replace="Sharing/sharingBootStrapBody"></div>
</body>
</html>